*~
*.bak
m4
autom4te.cache
config
configure
config.status
config.log
aclocal.m4
libtool
Makefile.in
Makefile
*.o
*.lo
*.Plo
*.swp
*.la
*.kdev4
*.orig
*.pyc
*.egg-info
.vscode
*.code-workspace
.settings
.tags
.tags_swap
.libs/
.deps/
.externalToolBuilders
src/graphite2/build*/**
builddir/**