[project]
	description = HarfBuzz OpenType text shaping engine
[access "refs/*"]
	owner = group user/Behdad Esfahbod (behdad)
[access "refs/for/refs/*"]
	read = group user/Behdad Esfahbod (behdad)
	push = group user/Behdad Esfahbod (behdad)
	label-Code-Review = -2..+2 group user/Behdad Esfahbod (behdad)
	label-Verified = -1..+1 group user/Behdad Esfahbod (behdad)
	rebase = group user/Behdad Esfahbod (behdad)
	removeReviewer = group user/Behdad Esfahbod (behdad)
	submit = group user/Behdad Esfahbod (behdad)
[access "refs/heads/*"]
	read = group user/Behdad Esfahbod (behdad)
	create = group user/Behdad Esfahbod (behdad)
	push = +force group user/Behdad Esfahbod (behdad)
	pushMerge = group user/Behdad Esfahbod (behdad)
[access "refs/tags/*"]
	push = +force group user/Behdad Esfahbod (behdad)
	pushTag = group user/Behdad Esfahbod (behdad)
	pushSignedTag = group user/Behdad Esfahbod (behdad)
