*~
*.bak
m4
autom4te.cache
config
configure
config.status
config.log
aclocal.m4
libtool
Makefile.in
Makefile
msvs9
vs9
nmake*
*.o
*.lo
*.Plo
*.swp
*.la
*.kdev4
*.orig
*.pyc
*.egg-info
.atom-build.yml
.atom-dbg.cson
.cproject
.project
.pydevproject
.vscode
.settings
.tags
.tags_swap
.libs/
.deps/
.externalToolBuilders
build*/**
release/
debug/
dev/
tests/private/**
*.tgz
*.sha1sum
