/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*.js
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/harfbuzz.def
/hb-version.h
/libharfbuzz.la
/main
/so_locations
/tags
/test-would-substitute
