/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/harfbuzz.def
/hb-ot-shape-complex-indic-machine.hh
/hb-ot-shape-complex-myanmar-machine.hh
/hb-ot-shape-complex-sea-machine.hh
/hb-version.h
/libharfbuzz.la
/main
/so_locations
/tags
/test
/test-size-params
/test-would-substitute
