/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*.js
/*.otf
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/harfbuzz.def
/hb-ot-shape-complex-indic-machine.hh
/hb-version.h
/hb-gobject-enums.cc
/indic
/libharfbuzz.la
/main
/so_locations
/tags
/test-would-substitute
