name: valgrind

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup Ccache
      uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639 # v1.2.20
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt install -y \
          valgrind \
          binutils \
          pkg-config \
          libfreetype6-dev \
          libglib2.0-dev \
          libcairo2-dev \
          libicu-dev \
          libgraphite2-dev
    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.12'
    - name: Install Python Dependencies
      run: pip3 install -r .ci/requirements.txt --require-hashes
    - name: Setup Meson
      run:  meson setup build --buildtype=debugoptimized
    - name: Build
      run: meson compile -Cbuild
    - name: Test
      run: meson test -Cbuild -t 10 --no-suite=slow --wrap='valgrind --leak-check=full --error-exitcode=1' --print-errorlogs
